[Unit]
Description=Wifi access point daemon

[Service]
ExecStart=/usr/bin/env bash -c 'sudo /usr/bin/create_ap "$(wifi.chips.default)" "$(ethernet.chips.default)" "$(pass apps/ap/ssid)" "$(pass apps/ap/password)"'
Restart=always

[Install]
WantedBy=ready.target
