[Unit]
Description=index arXiv papers in the background

[Service]
ExecStart=/usr/bin/env arxiv-indexer
Restart=always

[Install]
WantedBy=ready.target
