[Unit]
Description=Monitor autorotation service
PartOf=tablet.target

[Service]
ExecStart=/usr/bin/env autorotate
ExecStopPost=/usr/bin/env rotate default
ExecStopPost=/usr/bin/env i3 restart
Restart=always

[Install]
WantedBy=tablet.target
