[Unit]
Description=to sync emails in the background

[Service]
Environment=HOME=%h
ExecStart=/usr/bin/env courriel.poll
Restart=always

[Install]
WantedBy=ready.target
