[Unit]
Description=Hangouts unread messages polling daemon

[Service]
ExecStart=/usr/bin/env sh hangouts.poll
Restart=always

[Install]
WantedBy=default.target
