[Unit]
Description=Homepage daemon

[Service]
ExecStart=/usr/bin/env http-server %h/.config/homepage -a localhost -p 7342
Restart=always

[Install]
WantedBy=ready.target
