[Unit]
Description=IPFS daemon
After=ready.target

[Service]
Nice=19
ExecStart=/usr/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=ready.target
