[Unit]
Description=IPFS daemon
After=environment.target

[Service]
ExecStart=/usr/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=environment.target
