[Unit]
Description=IP Geolocation updates service

[Service]
Type=simple
Restart=on-failure
RestartSec=100
ExecStart=/usr/bin/sh memoize-ft 0 ipgeolocation.fetch
