[Unit]
Description=Mobile Vikings balance service

[Service]
Type=simple
Restart=on-failure
RestartSec=100
ExecStart=/usr/bin/sh memoize-ft 0 mbv balance
