[Unit]
Description=Start offlineimap as a daemon

[Service]
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target

