[Unit]
Description=Runs in background to extract and index text from modified documents

[Service]
ExecStart=/usr/bin/env recollindex -w 15 -m -D
Restart=always

[Install]
WantedBy=environment.target
