[Unit]
Description=Hangouts unhanger daemon

[Service]
ExecStart=/usr/bin/env sh service.unhang.watch hangouts
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target

