[Unit]
Description=Offlineimap unhanger daemon

[Service]
ExecStart=/usr/bin/env sh service.unhang.watch offlineimap
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target

