[Unit]
Description=Wifi fingerprinting service

[Service]
Type=simple
Restart=on-failure
RestartSec=100
ExecStart=/usr/bin/env wifi.fingerprint.distances.poll
