#!/usr/bin/env bash

# Make vim the default editor
export EDITOR="vim";
export VISUAL="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoreboth;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:jrnl *:q:gd:gdw:gaa:gca:gst:gps:r:gds:gdws";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# make less more friendly for non-text input files, see lesspipe(1)
if [ -x /usr/bin/lesspipe ] ; then
  LESSOPEN="|/usr/bin/lesspipe.sh %s"
  LESS_ADVANCED_PREPROCESSOR=1
  export LESSOPEN
  export LESS_ADVANCED_PREPROCESSOR
fi

# fzf config
FZF_FIND_CMD=find
if command -v bfs > /dev/null ; then
  FZF_FIND_CMD=bfs
fi

FZFCMD="command $FZF_FIND_CMD -L . \
-name .git -prune -o \
-name node_modules -prune -o \
-type d -print -o \
-type f -print -o \
-type l -print 2>/dev/null \
| sed 1d | cut -b3-" 2>/dev/null
FZFOPTS='--preview "begin; test -d {}; and ls -la {}; or coderay {}; or cat {}; end 2>/dev/null | head -$LINES"'

FZF_DEFAULT_COMMAND=$FZFCMD
export FZF_DEFAULT_COMMAND
#FZF_DEFAULT_OPTS=$FZFOPTS
#export FZF_DEFAULT_OPTS # DOES NOT WORK ?

FZF_CTRL_T_COMMAND=$FZFCMD
FZF_CTRL_T_OPTS=$FZFOPTS
export FZF_CTRL_T_COMMAND
export FZF_CTRL_T_OPTS

FZF_ALT_C_COMMAND="command $FZF_FIND_CMD -L . \
-name .git -prune -o \
-name node_modules -prune -o \
-type d -print -o \
-type l -print 2>/dev/null \
| sed 1d | cut -b3-" 2>/dev/null
FZF_ALT_C_OPTS="--preview 'ls -la {} | head -$LINES'"
export FZF_ALT_C_COMMAND
export FZF_ALT_C_OPTS


# ssh-agent socket
#export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket" # ssh-agent.service
eval $(gnome-keyring-daemon --start) # gnome-keyring with PAM
export SSH_AUTH_SOCK # gnome-keyring with PAM

# ipe styles
if [ -d "$HOME/.ipe/styles" ] ; then
	export IPESTYLES="$HOME/.ipe/styles";
fi
