#!/usr/bin/env bash

function mkd {
	mkdir -p "$@" && cd "$_";
}

# "alert" for long running commands.  Use like so:
#   sleep 10; alert
function alert {
	local last_cmd_status="$?"
	notify-send -u "$([ $last_cmd_status = 0 ] && echo low || echo critical)" "$([ $last_cmd_status = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e 's/^\s*[0-9]\+\s*//')"
}

## copy history command
function ch() {
	local line
	shopt -u nocaseglob nocasematch
	line="$(history | \
	command grep '^\s*[0-9][0-9]*\s\s*' | \
	eval "$(__fzfcmd) +s --tac +m -n2..,.. --tiebreak=index --toggle-sort=ctrl-r $FZF_CTRL_R_OPTS" | \
	command sed 's/^\s*[0-9][0-9]*\s\s*//')"
	echo -n "$line" | xsel -b
}
