[alias]

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Same as above but with all commits, authors and dates
	lg = log --all --graph --pretty=format:'%C(auto)%h -%d%Creset %s %C(magenta)(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	# View the current working tree status using the short format
	s = status -s

	# Status
	st = status

	# Diff line-wise
	d = diff

	# Diff staged line-wise
	ds = diff --staged

	# Diff word-wise
	dw = diff --color-words

	# Diff staged word-wise
	dws = diff --color-words --staged

	# Diff character-wise
	dt = diff --word-diff-regex=.

	# Diff staged character-wise
	dts = diff --word-diff-regex=. --staged

	# Show the diff between the latest commit and the current state
	dp = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

	# Diff graph
	dst = diff --stat

	# Pull in remote changes for the current repository and all its submodules
	p = !"git pull; git submodule foreach git pull origin master"

	# Clone a repository including all submodules
	cl = clone --recursive

	# Add files or changes
	a = add

	# Add hunks interactively
	ai = add -i

	# Add hunks interactively but go directly to the patch step
	ap = add -p

	# Commit
	c = commit --verbose

	# Add all untracked files and unstaged changes
	aa = add -A

	# Commit all changes
	ca = commit --all --verbose

	# Add all untracked files and unstaged changes and commit all changes
	aaca = !git add -A && git commit --all --verbose

	# Create branch
	cb = checkout -b

	# Switch to branch
	co = checkout

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# Amend the last commits message
	typo = commit --amend --verbose

	# Credit an author on the latest commit
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

	# Push
	ps = push

	# Pull
	pl = pull

	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Find tags containing commit
	ft = "!f() { git describe --always --contains $1; }; f"

	# Find commits by source code
	fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	# List branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

	# Merge GitHub pull request on top of the `master` branch
	mpr = "!f() { \
		if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
			git fetch origin refs/pull/$1/head:pr/$1 && \
			git rebase master pr/$1 && \
			git checkout master && \
			git merge pr/$1 && \
			git branch -D pr/$1 && \
			git commit --amend -m \"$(git log -1 --pretty=%B)\n\nCloses #$1.\"; \
		fi \
	}; f"

	# Diff using latexdiff
	difftex = difftool -y -t latex

	# List number of changesets
	cs = !"changeset"

	# Serve the repo I am in
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/

	# List available commands and aliases
	lc = "!f() { git help -a | grep '^  [a-z]' | tr ' ' '\n' | grep -v '^$'; git la; } ; f"

	# List available aliases
	la = "!git config -l | grep '^alias\\.' | cut -d'=' -f1 | cut -d'.' -f2"

	# From http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples
	# List commits in short form, with colors and branch/tag annotations
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	# List commits showing changed files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	# List commits with no colors for piping
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	# List oneline commits showing dates
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	# List oneline commits showing relative time
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	# A short gi log
	le = log --oneline --decorate
	# Show the history of a file with diffs
	fl = log -u
	# Show a diff of the last commit
	dl = diff --staged HEAD^
	# Show modified files in last commit
	dlf = "!git ll -1"
	# Diff last commit of given revision
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	# List changed files in last commit of given revision
	drf  = "!f() { git ll "$1"^.."$1"; }; f"
	# Show the last tag
	lt = describe --tags --abbrev=0

	# commits
	cc = "!f() { type=\"$1\" ; shift ; if [ $# -eq 0 ] ; then scope='' ; else scope=\"($@)\" ; fi ; GIT_EDITOR=\"vim -c \\\"normal i$(jq -r < $HOME/.config/conventional-commit/config .[\\\"$type\\\"].title)$scope: \\\" -c 'startinsert!'\" git commit --verbose ; } ; f"

	# stash, pull, push, stash pop
	sync = "!f() { git stash && git pull && git push && git stash pop; } ; f"

[difftool.latex]
	cmd = latexdiff-git "$LOCAL" "$REMOTE"

[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	# Detect copies as well as renames
	renames = copies

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1

[pull]

	# Rebase instead of merge
	rebase = 1

[push]

	# New git installation default
	default = simple

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

# URL shorthands

[url "git@github.com:"]

	insteadOf = "pgh:"
	insteadOf = "pgithub:"
	pushInsteadOf = "gh:"
	pushInsteadOf = "github:"

[url "https://github.com/"]

	insteadOf = "gh:"
	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "pgst:"
	insteadOf = "pgist:"
	pushInsteadOf = "gst:"
	pushInsteadOf = "gist:"

[url "https://gist.github.com/"]

	insteadOf = "gst:"
	insteadOf = "gist:"

# use of bitbucket with private repositories only

[url "git@bitbucket.org:"]

	insteadOf = "bb:"
	insteadOf = "bitbucket:"

[user]

	name = Aurélien Ooms
	email = aurelien.ooms@gmail.com

[credential]

	helper = /usr/lib/git-core/git-credential-libsecret
