[submodule "modules/powerline-fonts"]
	path = modules/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
