#!/bin/sh

# swap escape and caps lock
# setxkbmap -option "caps:swapescape"
# should be done via localectl
# example:
# localectl set-x11-keymap us ... ... caps:swapescape
# does not work :(
setxkbmap be
setxkbmap -option "caps:swapescape"
