#!/bin/sh

# swap escape and caps lock
# setxkbmap -option "caps:swapescape"
# Is done via localectl
# example:
# localectl --no-convert set-x11-keymap us '' '' caps:swapescape

# setxkbmap us
# setxkbmap -option "caps:swapescape"
