! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults

xterm.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm.termName: xterm-color
xterm.eightBitInput: false
URxvt.scrollBar: false
URxvt.font: xft:Liberation Mono for Powerline:size=12, xft:Font Awesome:size=12
!URxvt.letterSpace: 0

!FMT Include, StatusLine, ErrorMsg
*colorBD:       #ffffff
*colorUL:       #ffffff
*colorIT:       #ffffff
!TXT Normal, Normal, Cursor
*foreground:    #bbbbbb
*background:    #1c1c1c
*cursorColor:   #e3bf21

!BLK Cursor
! black
*color0: #383838
! bright_black
*color8: #393939

!RED Tag
! red
*color1: #c46e6c
! bright_red
*color9: #c46e6c

!GRN SpecialKey
! green
*color2: #6cc46e
! bright_green
*color10: #6cc46e

!YEL Keyword
! yellow
*color3: #c3c46c
! bright_yellow
*color11: #c3c46c

!BLU Number
! blue
*color4: #6e6cc4
! bright_blue
*color12: #6e6cc4

!MAG Precondit
! magenta
*color5: #c46cc3
! bright_magenta
*color13: #c46cc3

!CYN Float
! cyan
*color6: #6cc3c4
! bright_cyan
*color14: #6cc3c4

!WHT Search
! white
*color7: #d9d9d9
! bright_white
*color15: #ffffff
