:root.TridactylThemeSane {
    --tridactyl-font-family: "San Francisco", sans-serif;
    --tridactyl-hintspan-bg: #F77;
    --tridactyl-cmdl-fg: #eee;
    --tridactyl-cmdl-bg: #333;
    --tridactyl-cmplt-fg: #eee;
    --tridactyl-cmplt-bg: #333;
    --tridactyl-url-fg: #ddd;
    --tridactyl-url-bg: #1c1c1c;
}

:root.TridactylThemeSane #command-line-holder {
    order: 1;
    border: 2px solid #000;
    color: var(--tridactyl-cmdl-bg); /*To hide ':'*/
}

:root.TridactylThemeSane #tridactyl-input {
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem;
}

:root.TridactylThemeSane #completions table {
    font-size: 0.8rem;
    font-weight: 200;
    border-spacing: 0;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root.TridactylThemeSane #completions > div {
    max-height: calc(20 * var(--option-height));
    min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

:root.TridactylThemeSane #completions {
    --option-height: 1.4em;
    display: inline-block;
    font-size: unset;
    font-weight: 200;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 2;
}

/* Olie doesn't know how CSS inheritance works */
:root.TridactylThemeSane #completions .HistoryCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeSane #completions .HistoryCompletionSource table {
    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
:root.TridactylThemeSane #completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeSane #completions table tr td.prefix,
:root.TridactylThemeSane #completions table tr td.privatewindow,
:root.TridactylThemeSane #completions table tr td.container,
:root.TridactylThemeSane #completions table tr td.icon {
    display: none;
}

:root.TridactylThemeSane #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root.TridactylThemeSane #completions table tr .title {
    width: 50%;
}

:root.TridactylThemeSane #completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root.TridactylThemeSane #completions .sectionHeader {
    background: unset;
    font-weight: 200;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

:root.TridactylThemeSane #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}

:root.TridactylThemeSane .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0.3ex !important;
    font-family: "Fira Code", monospace !important;
    background: white !important;
    border: unset !important;
    border: 1px #000 solid !important;
    font-size: 9px !important;
    font-weight: 200 !important;
    padding: 0.8ex !important;
}

/* #Sane-normal { */
/*  border-color: green !important; */
/* } */

/* #Sane-insert { */
/*  border-color: yellow !important; */
/* } */
