[Desktop Entry]
Categories=;
Comment=Edit file in Vim
Exec=gvim %f
GenericName=Text Editor
Hidden=false
Icon=vim
Name=Vim
Terminal=true
Type=Application
Version=1.0
